@font-face {
  font-family: 'Whiteny Light' ;
  src: url('../assets/whitneylight.woff') format('woff');
}

@font-face {
  font-family: 'Whiteny Medium' ;
  src: url('../assets/whitneymedium.woff') format('woff');
}
@font-face {
  font-family: 'Whiteny Bold' ;
  src: url('../assets/whitneybold.woff') format('woff');
}

:root {

  --light-clr: #FFF;
  --dark-clr: #23272A;
  --brand-clr: #404eed;
  --brand-clr-light: #5865f2;
  --off-white-clr: #f6f6f6;
  --brand-clr-hover: #7983f5;
  --dark-clr-hover: #36393f;
  --line-clr: #afafaf;
  --link-clr: #00B0F4;
  --box-shadow: 0 .5em 1em rgb(3 2 2 /0.25);


  --general-font-size: 2rem;
  --mid-font-size: 1em;
  --large-font-size: 1.25em;
  --primary-title-font-size: 4rem;
  --secondary-title-font-size: 1.25em;
  --last-sec-font-size: 1.25em;
  --main-font-family-light: 'Whitney Light', sans-serif;
  --main-font-family-medium: 'Whitney Medium', sans-serif;
  --main-font-family-bold: 'Whitney Bold', sans-serif;
  --font-titles: 'Seymour One', sans-serif;
  --font-big: 'Montserrat', sans-serif;

  --num-of-grid-columns: 4;
  --section-spacing: 5.6rem 2.4rem;
  --section-spacing2: 3.5em 1.5em;
  --container-width: 126rem;

}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0; /* wordt tegenwoordig meesatel niet meer gedaan */
  padding: 0; /* wordt tegenwoordig meesatel niet meer gedaan */
}

html {
  background-image: linear-gradient(var(--brand-clr) 8em, transparent 8em);
}

html .body2{
  background-image: linear-gradient(var(--dark-clr) 8em, transparent 8em);
}

body {
  margin:0;
}

section {
  max-width: 100%;
}

button {
  appearance:none;
  font:inherit;
  cursor: pointer;
}

a {
  display: inline-block;
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* *******************************************
****************  NAV SECTION  ***************
******************************************* */

header {
  background-color: var(--brand-clr);
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width:80.75em;
  margin:0 auto;
  padding:.25em 1.25em .25em 1em;
  box-shadow: none;
}

.body2 header {
  background-color: var(--dark-clr);
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width:80.75em;
  margin:0 auto;
  padding:.25em 1.25em .25em 1em;
}


/**********************/
/* menu openen button */
header > button {
  width: 3.75em;
  height: 3.375em;

  background-color:transparent;
  background-image:url(../images/menu.png);
  background-repeat:no-repeat;
  background-position:center;
  border:none;

  transition: .3s;
}

header > button:hover,
header > button:focus {
  background-color: transparent;
}

/********/
/* menu */
header nav {
  position:fixed;
  right:0;
  top:0;
  bottom:0;
  z-index: 999;
  
  width: 18.75em;
  padding: 4.625em 0 2.5em;
  transform: translateX(100%);
  
  background-color: var(--light-clr); 
  background-image: url("../images/Discord-logo2-dark.png");
  background-repeat:no-repeat;
  background-position:2em 1.375em;
  border-radius: 1.25em 0 0 1.25em;

  transition:transform .3s;  

/* box-shadow:0 0 0 10000px rgba(0,0,0,.50); */

}


header nav:focus-within, /* menu klapt ook uit als je er in tabt */
header nav.menuOpen {
  transform: none;
}

/* lijstje met items */
header nav ul {
  position: relative;

  display:flex;
  flex-direction: column;
  gap:.4em;

  margin:0;
  /* padding:0; */
  padding: 1em 3em 1em 1em;
  list-style:none;
  
}

/* lijn boven lijstje met items */
header nav ul::before {
  content:"";
  display:block;
  height:1px;
  margin:0 1.875em 2.4em;
  background-color: var(--line-clr); /* custom prop van maken */
  box-shadow: 0;
}

/* links in het menu */
header nav ul a {
  display: block;
  padding: .625em 2.5em;

  border-radius: 1.875em;

  font-family: var(--main-font-family-light);
  font-size: var(--mid-font-size);
  line-height: 1.15;
  outline-style:none;
  color: var(--dark-clr);
}

header nav ul a:hover,
header nav ul a:focus-visible {
  /* background: #F6F6F6;  */
  /* custom prop van maken */
  text-decoration: underline;
}

header nav ul a:active {
  color: var(--link-clr); 
} 

/* menu sluiten button */
header nav button {
  position: absolute;
  right: 0;
  top: 0;
  
  width: 45px;
  height: 61px;
  
  background-size: 15px 15px;
  background-color:transparent;
  background-image: url('../images/close.svg');
  background-repeat:no-repeat;
  background-position:center;
  border:none;

  transition: .3s;
}

header nav button:hover,
header nav button:focus { 
  background-color: var(--light-clr);
} 


/****************/
/* discord link */
header > a:last-of-type {
  display:none; /* niet accessible maar a la voor nu */
}

.active-state {
  background-color: var(--off-white-clr);
  padding: 1em 7.5rem 1em 1em;
  margin-left: -1em;
  border-radius: 0.5em;
  color: var(--link-clr); 
  max-width: 247.76px;
}

.active-state :hover{
text-decoration-color:var(--link-clr);
text-decoration: underline var(--link-clr);
color: var(--link-clr);
}

.in-menu-bttn{
  display: block;
  text-decoration: none;
  font-family: var( --main-font-family-medium);
  font-size: var(--mid-font-size);
  font-weight: 500;
  padding: 1em 16px;
  background-color: var(--brand-clr-light);
  color: var(--light-clr);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: pre;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 95%;
  
}

@media (min-width:1024px) {
  header {
    padding:1em 1em 0 1em;
  }


  /**********************/
  /* menu openen button */
  header > button {
    display:none;
  }


  /********/
  /* menu */
  header nav {
    position:relative;
    transform:none;

    width:auto;
    padding:0;

    background:none;
  }

  /* menu sluiten button */
  header nav button {
    display:none;
  }

  /* lijstje met items */
  header nav ul {
    flex-direction: row;
    gap:2em;
  }

  /* lijn boven lijstje met items */
  header nav ul::before {
    content:none;
  }

  /* item in menu */
  header nav ul li:nth-of-type(1),
  header nav ul li:nth-of-type(5) {
    display:none;
  }

  /* links in het menu */
  header nav ul a {
    padding: 0 1em;
    
    border-radius:0;
    
    font-family: var(--main-font-family-bold);
    font-weight: bold;
    line-height: 3.125;
    color: var(--light-clr);
  }

  header nav ul a:hover,
  header nav ul a:focus-visible {
    background: none;
    
  }

  header nav ul a:hover {
    text-decoration: underline;
  }

  header nav ul a:focus-visible {
    outline-style: auto;
  }

  header nav ul a:active {
    color: var(--link-clr);
    background: none;
    text-decoration: underline;
  } 


  /****************/
  /* discord link */
  header > a:last-of-type {
    display:block; /* niet accessible maar a la voor nu */
    padding: 7px 16px;

    background-color: var(--light-clr);
    border-radius: 3em;

    font-family: var( --main-font-family-medium);
    font-size: 0.875em;
    font-weight: 500;
    color: var(--dark-clr);

    transition: .3s ease;
  }

  header > a:last-of-type:hover,
  header > a:last-of-type:focus {
    color: var(--brand-clr);
    box-shadow: var(--box-shadow);
  }

  .active-state {
    background-color: transparent;
    padding: 0;
    margin-left: 0;
    border-radius: 0;
    color: var(--light-clr);
    max-width: 0;
  }
}

@media (min-width:1024px) {
.in-menu-bttn{
  display: none;
}
}


/* *******************************************
**********  HERO SECTION PAGE 1  *************
******************************************* */

.hero-section-page1 {
  background-color: var(--brand-clr);
  padding: var(--section-spacing2);
}

.hero-section-page1 div {
display: grid;
grid-template-columns: repeat(var(--num-of-grid-columns), 1fr);
gap: 0 2rem;
}

.hero-section-page1 article {
  grid-column: span var(--num-of-grid-columns);
  color: var(--light-clr)
}

.hero-section-page1 article h1{
  font-family: var(--font-big);
  font-weight: 900;
  font-size: 1.5em;
  line-height: 120%;
}

.hero-section-page1 article p{
  font-family: var(--main-font-family-light);
  line-height: 1.625;
  margin-top: 1.5em;
  font-size: var(--mid-font-size);
}

.bttn-large {
  padding: 1em 2em;
  border-radius: 2.8rem;
  font-size: 1.1em;
  font-family: var(--main-font-family-medium);
}

.hero-section-page1 a:first-of-type:hover,
 .hero-section-page1 a:first-of-type:focus {
    color: var(--brand-clr);
    box-shadow: var(--box-shadow);
  }


.hero-section-page1 a:last-of-type:hover,
 .hero-section-page1 a:last-of-type:focus {
   background-color: var(--dark-clr-hover);
    box-shadow: var(--box-shadow);
  }

.bttn-light {
  margin-top: 2.4rem;

  background-color: var(--light-clr);
  color: var(--dark-clr);
}

.bttn-dark {
  background-color: var(--dark-clr);
  color: var(--light-clr);
  margin-top: 2.4rem;
  transition: background-color .5s;
  margin-bottom: 1.5em;
}

.hero-section-page1 img:first-of-type{
  display: block;

  position: relative;
  z-index: 1;
  margin-left: -80px;
  margin-bottom: -3.5em;
}

.hero-section-page1 img:last-of-type{
  display: none;

}

@media screen and (min-width: 768px) {

  :root {
      --primary-title-font-size: 5.6rem;
      --secondary-title-font-size: 3.4rem;
      --num-of-grid-columns: 8;
      --section-spacing: 8rem 4rem;
      --container-width: 126rem;
  }

  .hero-section-page1 {
      min-height: 30em;
  }
  
  .hero-section-page1 article{
      grid-column: span 5;
      z-index: 2;
  }

  .hero-section-page1 article p{
      margin: 2rem 0 .8rem;
  }

  .hero-section-page1 img:first-of-type{
      margin: auto 0;
  }

  .hero-section-page1 article h1{
      font-family: var(--font-big);
      font-weight: 900;
      font-size: 3.5em;
      line-height: 120%;
  }

  .hero-section-page1 article p{
      font-family: var(--main-font-family-light);
      line-height: 1.625;
      margin-top: 1.5em;
      font-size: var(--mid-font-size);
  
  }

  .hero-section-page1 img:first-of-type {
      display: none;
  }

  .hero-section-page1 img:last-of-type {
      display: block;
      max-width: 38.4375em;
      position: relative;
      z-index: 1;
      margin-top: -17.2em;
      margin-bottom: -20em;
      overflow: hidden;
      bottom: 0;
      left: 50%;
      margin-left: 0px;

  }

  .hero-section-page1 {
      background-color: var(--brand-clr);
      background-position: center;
      min-height: 37em;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url(../images/headerbackground.svg);
      background-repeat: no-repeat;
      background-position:  center;
      overflow: hidden;
      }

}

@media screen and (min-width: 1016px) {
  .hero-section-page1 img:last-of-type {
  margin-bottom: -20em;
  }
} 

@media screen and (min-width: 1024px) {
  :root {
      --container-width: 70em;
      --num-of-grid-columns: 12;
      --section-spacing: 12rem 4rem;
      --secondary-title-font-size: 2.8em;
      --last-sec-font-size: 2.5em;
  }

  .hero-section-page1 article{
      grid-column: 3/span 8;
      text-align: center;
  }

  .hero-section-page1 article h1{
      font-family: var(--font-big);
      font-weight: 900;
      font-size: 3.5em;
      line-height: 120%;
  }

  .hero-section-page1 {
  background-color: var(--brand-clr);
  background-position: center;
  min-height: 33em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/headerimgright.svg), url(../images/headerimgleft.svg), url(../images/headerbackground.svg);
  background-repeat: no-repeat;
  background-size: 41em auto, 41em auto, cover;
  background-position: calc(50vw - 10em + 33em) bottom, calc(50vw - 10em - 55em) bottom, center;
  }

  .hero-section-page1 div {
  display: grid;
  grid-template-columns:  repeat(var(--num-of-grid-columns), 1fr);
  gap: 0 1.25em;
  max-width: 1260px;;
}

.hero-section-page1 {
justify-content: center;
align-items: center;
display: grid;
}


.hero-section-page1 article p {
  font-size: var(--large-font-size);
}

.bttn-large {
  padding: 1em 2em;
  border-radius: 2.8rem;
  font-size: 1.1em;
  font-family: var(--main-font-family-medium);
  margin-left: 1em;
}

.hero-section-page1 img:last-of-type {
  display: none;
}

}


/* *******************************************
**************** MID SECTION 1 ***************
******************************************* */

.mid-section1-page1 article {
  display: grid;
  grid-template-columns: repeat(var(--num-of-grid-columns), 1fr);
  gap: 0 2rem;
  padding: var(--section-spacing2);
}

.mid-section1-page1 article img{
  margin-top: 2.4rem;
  grid-column: span 4;
}
.mid-section1-page1 article div{
  margin-top: 2rem;
  grid-column: span 4;
}

.mid-section1-page1 h2{
  font-family: var(--main-font-family-bold);
  font-size: var(--secondary-title-font-size);
}

.mid-section1-page1 p{
  font-family: var(--main-font-family-light);
  margin-top: 1.25em;
  font-size: var(--mid-font-size);
  line-height: 1.625;


}

@media screen and (min-width: 768px) {
.mid-section1-page1 img{
  margin: auto 0;
}
}

@media screen and (min-width: 1024px) {

  .mid-section1-page1 article{
  max-width: var(--container-width);
  margin: 0 auto;
  }

  .mid-section1-page1 article img{
      grid-column: span 7;
      margin: 0;
  }  

  .mid-section1-page1 article div{
      grid-column: 9/-1;
  }
  
  .mid-section1-page1 h2{
  font-family: var(--main-font-family-bold);
  font-size: var(--secondary-title-font-size);
  color: var(--dark-clr);
  }

  .mid-section1-page1 article div{
    margin-top: 2rem;
    grid-column: 9/-1;
  }

}


/* *******************************************
**************** MID SECTION 2 ***************
******************************************* */

.mid-section2-page1 {
  background-color: var(--off-white-clr);
}
.mid-section2-page1 article {
  display: grid;
  grid-template-columns: repeat(var(--num-of-grid-columns), 1fr);
  gap: 0 2rem;
  padding: var(--section-spacing2);
}

.mid-section2-page1 article img{
  margin-top: 2.4rem;
  grid-column: span 4;
}

.mid-section2-page1 article div{
  margin-top: 2rem;
  grid-column: span 4;
}

.mid-section2-page1 h2{
  font-family: var(--main-font-family-bold);
  font-size: var(--secondary-title-font-size);

}

.mid-section2-page1 p{
  font-family: var(--main-font-family-light);
  margin-top: 1.25em;
  font-size: var(--mid-font-size);
  line-height: 1.625;


}

@media screen and (min-width: 768px) {
  .order-1{
    order: 1;
  }
  .order-2{
      order: 2;
  }
  .mid-section2-page1 img{
    margin: auto 0;
  }
}

@media screen and (min-width: 1024px) {

  .mid-section2-page1 article{
  max-width: var(--container-width);
  margin: 0 auto;
  }

  .mid-section2-page1 article img{
    grid-column: 6/span 7;
    margin: 0;
  }  
  
  .order-1{
    grid-column: 1/span 4;
  }

  .order-2{
    grid-column: 6/order-1;
  }

  .mid-section2-page1 h2{
    font-family: var(--main-font-family-bold);
    font-size: var(--secondary-title-font-size);
    color: var(--dark-clr);

  }
  
  .mid-section2-page1 article div{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .order-1{
    grid-column: 1/span 4;
    order: 1;
  }

  .order-2{
    grid-column: 6/order 1;
    order: 2;

  }

  .mid-section2-page1 article {
    display: grid;
    grid-template-columns: repeat(var(--num-of-grid-columns), 1fr);
    gap: 0 2rem;
    padding: var(--section-spacing2);

    max-width: var(--container-width);
    margin: 0 auto;
  }

}


/* *******************************************
**************** MID SECTION 3 ***************
******************************************* */

.mid-section3-page1 article {
  display: grid;
  grid-template-columns: repeat(var(--num-of-grid-columns), 1fr);
  gap: 0 2rem;
  padding: var(--section-spacing2);
}

.mid-section3-page1 article img{
  margin-top: 2.4rem;
  grid-column: span 4;
}

.mid-section3-page1 article div{
  margin-top: 2rem;
  grid-column: span 4;
}

.mid-section3-page1 h2{
  font-family: var(--main-font-family-bold);
  font-size: var(--secondary-title-font-size);

}
.mid-section3-page1 p{
  font-family: var(--main-font-family-light);
  margin-top: 1.25em;
  font-size: var(--mid-font-size);
  line-height: 1.625;


}

@media screen and (min-width: 768px) {
.mid-section3-page1 img{
  margin: auto 0;
}
}

@media screen and (min-width: 1024px) {

  .mid-section3-page1 article{
  max-width: var(--container-width);
  margin: 0 auto;
  }

 .mid-section3-page1 article img{
      grid-column: span 7;
      margin: 0;
  }

   .mid-section3-page1 article div{
      grid-column: 9/-1;
  }
  
  .mid-section3-page1 h2{
  font-family: var(--main-font-family-bold);
  font-size: var(--secondary-title-font-size);
  color: var(--dark-clr);
  }

  }


/* *******************************************
**************** MID SECTION 4 ***************
******************************************* */


.mid-section4-page1 {
  display: grid;
  grid-template-columns: repeat(var(--num-of-grid-columns), 1fr);
  gap: 0 2rem;
  padding: var(--section-spacing2);

  margin: 0 auto;
  background-color: var(--off-white-clr);

}

.mid-section4-page1 article {
margin-top: 2rem;
grid-column: span 4;
}

.mid-section4-page1 h3{
  font-family: var(--font-big);
  font-weight: 900;
  font-size: var(--last-sec-font-size);

}

.mid-section4-page1 p{
  font-family: var(--main-font-family-light);
  margin-top: 1.25em;
  font-size: var(--mid-font-size);
  line-height: 1.625;
}

.mid-section4-page1 img{
  margin-top: 2.4rem;
  grid-column: span 4;
}

@media screen and (min-width: 768px) {

  .mid-section4-page1{
      text-align: center;
  }

  .spacer{
      display: block;
      grid-row: span 2;
  }

  .mid-section4-page1 article {
      margin-top: 2rem;
      grid-column: 1/span 8;
  }

  .mid-section4-page1 article p {
      max-width: 50em;
      justify-content: center;
      text-align: center;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
      margin-top: 2em;

  }
}

@media screen and (min-width: 1024px) {

  .mid-section4-page1 article{
      grid-column: 2/span 10;
  }

  .mid-section4-page1 h3{
    font-family: var(--font-big);
    font-weight: 900;
    font-size: var(--last-sec-font-size);
    color: var(--dark-clr);

  }
}


/* *******************************************
**************** MID SECTION 5 ***************
******************************************* */


.mid-section5-page1 {
  background-color: var(--off-white-clr);
}

.mid-section5-page1 div {
  display: grid;
  grid-template-columns: repeat(var(--num-of-grid-columns), 1fr);
  gap: 0 2rem;
  padding: var(--section-spacing2);

  max-width: var(--container-width);
  margin: 0 auto;

  display: block;
  padding-top: 0;
  text-align: center;

  background-color: var(--off-white-clr);
  position: relative;
}

.mid-section5-page1 img {
display: inline-block;
}

.mid-section5-page1 h4 {
  font-size: 2em;
  font-family: var(--main-font-family-medium);
  margin-bottom: 1em;
}

.download-bttn {

  background-color: var(--brand-clr-light);
  color: var(--light-clr);
  transition: background-color .5s ;
}

.mid-section5-page1 a:last-of-type:hover,
 .mid-section5-page1 a:last-of-type:focus {
   background-color: var(--brand-clr-hover);
    box-shadow: var(--box-shadow); /* custom prop van maken */
  }

@media screen and (min-width: 768px) {

  .mid-section5-page1 div {
    display: grid;
    grid-template-columns: repeat(var(--num-of-grid-columns), 1fr);
    gap: 0 2rem;
    padding: 5.5em 2.5em;
            
    max-width: var(--container-width);
    margin: 0 auto;
            
    display: block;
    padding-top: 0;
    text-align: center;
            
    background-color: var(--off-white-clr);
    position: relative;
    
    }
  }


/* *******************************************
******************* FOOTER *******************
******************************************* */


footer {
  background-color: var(--dark-clr);
  color: var(--light-clr);
  padding: 4rem 2.4rem 3.4rem;
  overflow: hidden;
}

footer div {
  max-width: 1260px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0 2rem;
  margin: 0 auto;
}

footer ul li a{
  color: var(--light-clr);
}

footer h5 {
  font-family: var(--main-font-family-bold);
  color: var(--brand-clr);
  font-weight: 900;
  font-size: 2em;
  margin-bottom: 0.5em;
  line-height: 1em;
}

footer span {
  font-family: var(--main-font-family-medium);
  color: var(--light-clr);
  font-size: 0.875em;
}

footer article img {
  height: 16px;
  width: 24px;

}

footer article {
  grid-column: span 2;
}

footer div section section {
  text-decoration: none;
  font-size: 2em;
  color: var(--light-clr);
  margin-top: 0.5em;
}

footer div section {
  margin-bottom: 1em;
  grid-column: span 3;
  grid-row-end: span 2;
}

.social-link {
  color: var(--light-clr);
  font-size: 0.8em;
  letter-spacing: 0.5em;
}

footer div ul {
  list-style: none;
  text-decoration: none;
  font-family: var(--main-font-family-light);
  color: var(--light-clr);
  line-height: 2em;
  grid-column: span 2;
}

footer div ul label{
  color: var(--brand-clr-light);

}

.footer-bttn {
  text-decoration: none;
  font-family: var( --main-font-family-medium);
  font-size: 0.875em;
  font-weight: 500;
  padding: 7px 16px;
  background-color: var(--brand-clr-light);
  color: var(--light-clr);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;

}

footer div:nth-of-type(3) {
  display: flex;
  justify-content: space-between;
  max-width: 1260px;
}

.divider {
  height: 1px;
  background-color: var(--brand-clr-light);
  margin-bottom: 3.2rem;
  margin-top: 2em;
}

@media screen and (min-width: 768px){
footer div section {
    grid-column: span 3;
    grid-row-end: span 2;
  }
}

@media screen and (min-width: 768px) {

  footer div {
    max-width: 1260px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 0 2rem;
    margin: 0 auto;
  }

  footer div section {
    grid-column: span 3;
    grid-row-end: span 2;
  }

  .spacer2 {
    display: none;
  
  }
  
  footer ul li a{
    color: var(--light-clr);
  }
  
  footer h5 {
    font-family: var(--main-font-family-bold);
    color: var(--brand-clr-light);
    font-weight: 900;
    font-size: 2em;
    margin-bottom: 0.5em;
  }
  
  footer span {
    font-family: var(--main-font-family-medium);
    color: var(--light-clr);
    font-size: 0.875em;
  }
  
  footer article img {
    height: 16px;
    width: 24px;
  
  }
  
  footer div section section {
    text-decoration: none;
    font-size: 2em;
    color: var(--light-clr);
    margin-top: 0.5em;
  }
  
  footer div section {
    margin-bottom: 2em;
    grid-column: span 3;
    grid-row: span 2;
    padding-right: 1.3em;
  }
  
  .social-link {
    color: var(--light-clr);
    font-size: 0.8em;
    letter-spacing: 0.5em;
  }
  
  footer div ul {
    list-style: none;
    text-decoration: none;
    font-family: var(--main-font-family-light);
    color: var(--light-clr);
    line-height: 2em;
    grid-column: span 2;
  }
  
  footer div ul label{
    color: var(--brand-clr-light);
  
  }
  
  .footer-bttn {
    text-decoration: none;
    font-family: var( --main-font-family-medium);
    font-size: 0.875em;
    font-weight: 500;
    padding: 7px 16px;
    background-color: var(--brand-clr-light);
    color: var(--light-clr);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  
  }

  .footer-bttn:hover,
  .footer-bttn:focus{
   background-color: var(--brand-clr-hover);
    box-shadow: var(--box-shadow);
  }

  footer div:nth-of-type(3) {
    display: flex;
    justify-content: space-between;
    max-width: 1260px;
  }
  
  .divider {
    height: 1px;
    background-color: var(--brand-clr);
    margin-bottom: 3.2rem;
    margin-top: 2em;
  }

}

@media screen and (min-width: 1024px) {

  footer div {
    grid-template-columns: repeat(12, 1fr);
  }
}


/* *******************************************
************* SCROLL ANIMATION  **************
******************************************* */

.reveal{
  position: relative;
  transform: translateY(100px);
  opacity: 0;
  transition: all 1s ease;
}

.reveal.active{
  transform: translateY(0px);
  opacity: 1;
}


/* **************************************
**********    PAGE 2   ******************
************************************** */

/* *******************************************
************* HERO SECTION PAGE 2 ************
******************************************* */

:root {
  --columns-hero2: 4;
}

.hero-section-page2 {
  background-color: var(--dark-clr);

  padding: var(--section-spacing2);
}

.hero-section-page2 div {
  grid-template-columns: repeat(4, 1fr);
  gap: 0 2rem;
  display: block;
}

.hero-section-page2 article {
  grid-column: span var(--num-of-grid-columns);
  color: var(--light-clr)
}

.hero-section-page2 article h1{
  font-family: var(--font-big);
  font-weight: 900;
  font-size: 1.5em;
  line-height: 120%;
}

.hero-section-page2 article p{
  font-family: var(--main-font-family-light);
  line-height: 1.625;
  margin-top: 1.5em;
  font-size: var(--mid-font-size);

}

.hero-section-page2 article div:nth-of-type(2) p{
  font-family: var(--main-font-family-light);
  line-height: 1.625;
  margin-bottom: 1em;
  font-size: var(--mid-font-size);
  text-align: center;
  white-space: pre;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-section-page2 div {
  grid-template-columns: repeat(4, 1fr);
  gap: 0 2rem;

}

.hero-section-page2 img{
  display: none;
}

.bttn-page2-cta {
  text-decoration: none;

  border-radius: 28px;
  font-size: 20px;
  padding: 16px 32px;
  background-color: var(--brand-clr-light);
  font-family: var(--main-font-family-bold);
  color: var(--light-clr);
  font-size: var(--large-font-size);
  margin-top: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: pre;

}

.bttn-page2-cta:hover,
 .bttn-page2-cta:focus {
   background-color: var(--brand-clr-hover);
    box-shadow:var(--box-shadow);
  }

.hero-section-page2 img:first-of-type{
  display: none;
}

.hero-section-page2 img:last-of-type{
  display: none;
}

.bttn-hero-secondpage {
  border-radius: 28px;
  font-size: 20px;
  padding: 16px 32px;
  background-color: var(--brand-clr-light);
  font-family: var(--main-font-family-bold);
  font-size: var(--large-font-size);
  margin-top: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: pre;
}


@media screen and (min-width: 768px) {
  :root {
      --columns-hero2:8;
      --num-grid-columns: 8;
  }

  .hero-section-page2 {
    background-color: var(--dark-clr);
    padding: var(--section-spacing2);
    height: 40em;
    overflow: hidden;
  }

  .hero-section-page2 div {


    width: 100%;
    max-width: 1260px;
    max-width: var(--page-max-width);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-columns: repeat(var(--num-grid-columns),1fr);
    gap: 0 20px;
    padding: 0 24px;
    padding: 0 var(--page-gutter);
}

  .hero-section-page2 article div:nth-of-type(2) p{
      font-family: var(--main-font-family-light);
      line-height: 1.625;
      margin-top: 3.5em;
      font-size: var(--mid-font-size);
      text-align: left;
  }

  .hero-section-page2 article h1 {
      font-size: 3.5em;
      line-height: 95%;
      margin-bottom: 10em;
  }
  
  .hero-section-page2 article div:nth-of-type(1) {
    display: grid;
    grid-template-columns: 28em;
    grid-template-rows: 11em;
    padding: 1em;
  }

  .hero-section-page2 article div:nth-of-type(1) p {
    font-family: var(--main-font-family-light);
    line-height: 1.625;
    font-size: var(--large-font-size);
  }

  .hero-section-page2 article div:nth-of-type(2) {
    display: block;
    margin-top: -1.5em;
  }

  .bttn-page2-cta {
    border-radius: 28px;
    font-size: 20px;
    padding: 16px 7em;
    width: 10em;
    background-color: var(--brand-clr);
    background-color: var(--brand-clr-light);
    font-family: var(--main-font-family-bold);
    font-size: var(--large-font-size);
    margin-top: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: pre;
    margin-left: 0.5em;
  }

  .hero-section-page2 article div:nth-of-type(2) p{
    font-size: var(--mid-font-size);
    text-align: left;
  }

  .hero-section-page2 article div:nth-of-type(2) p {
    font-family: var(--main-font-family-light);
    line-height: 1.625;
    margin-top: 1.5em;
    margin-bottom: 1em;
    margin-left:1em;
    font-size: var(--mid-font-size);
    justify-content: normal;
    align-items: normal;
  }

  .hero-section-page2 article p:nth-of-type(2) {
    justify-content: center;
    align-items: center;
    margin-top: 3.5em;
  }
  
  .hero-section-page2 img:first-of-type{
    display: none;
  }
  .hero-section-page2{
    position: relative;

  }
  .hero-section-page2 img:last-of-type{
    display: block;  
    height: 29em;
    width: 49.6875em;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-left: calc(50vw - 30em + 35em);  
    margin-right: auto;
    margin-top: 4em;
  }
}

@media screen and (min-width: 1018px) {

  :root {
    --page-max-width: 30em;
  }

  .hero-section-page2 article div:nth-of-type(2) p {
    font-family: var(--main-font-family-light);
    line-height: 1.625;
    margin-top: 3.5em;
    margin-bottom: 1em;
    font-size: var(--mid-font-size);
    text-align: center;
    white-space: pre;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .hero-section-page2 article div:nth-of-type(2) {
    display: grid;
    margin-top: -1.5em;
  }
}

@media screen and (min-width: 1255px) {
  
  .hero-section-page2 article{
    padding-top: 2em;
    overflow: hidden;
  }
  .hero-section-page2 article div:nth-of-type(1) {
    display: block;
    display: grid;
    grid-column: span 1/4;
    grid-template-columns: 32em;
    grid-template-rows: 10em;
    padding: 1em;
    overflow: hidden;
}

.hero-section-page2 img:last-of-type{
    display: block;
    height: 29em;
    width: 49.6875em;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-left: calc(50vw - 34em + 35em);  
    margin-right: auto;
    margin-top: 5em;
  }

  .hero-section-page2 div {
    max-width: 1260px;
  }

  .hero-section-page2 div{

    display: grid;
    grid-template-columns: repeat(var(--num-of-grid-columns), 1fr);
    max-width: 1260px;
    margin-left: auto;
    margin-right: auto;
  }

  .hero-section-page2 {
    background-color: var(--dark-clr);
    padding: var(--section-spacing2);
    height: 37em;
    overflow: hidden;
  }

  .hero-section-page2 img:last-of-type{
    max-width: 38.4375em;
    display: block;
    height: 29em;
    width: 49.6875em;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-left: calc(50vw - 34em + 35em);  
    margin-right: auto;
    margin-top: 3em;
    }
}



/* *******************************************
*************  MID SECTION PAGE 2 ************
******************************************* */

.page2-sec1 article {
    overflow: hidden;
    height: 363px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 16px;
    padding: 56px;
    color: var(--dark-clr)
}

.bttn-page2-dwnld {
  background-color: var(--dark-clr);
  color: var(--light-clr);
  font-size: var(--large-font-size);
  padding: 16px 32px;
  border-radius: 28px;
  font-family: var(--main-font-family-bold);
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.page2-sec1 article {
  grid-column: span 1;
  grid-row: span 2;
  background-color: var(--off-white-clr);
}

.page2-sec1 section  h2 {
  font-size: 2em;
  font-family: var(--main-font-family-bold);
  margin-bottom: 0.5em;
  text-align: left;

  }

.page2-sec1 section {
  grid-column: span 12;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.page2-sec1 section article div {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.page2-sec1 section article:nth-of-type(5) {
  grid-column: span 1;
  grid-row: span 2;
  background-color: var(--off-white-clr);
  height: 15em;
}

.page2-sec1 section article:nth-of-type(5) p {
  font-size: var(--large-font-size);
  font-family: var(--main-font-family-light);
  text-align: left;
}

.page2-sec1 section article:nth-of-type(5) h2 {
  font-size: 2em;
  font-family: var(--main-font-family-bold);
  margin-bottom: 0.5em;
  text-align: left;
  }

.page2-sec1 section {
  margin-top: 4em;
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 4em;

}

.page2-sec1 article img {
  margin-top: 24px;
  width: 100%;
}

.page2-sec1 section article:nth-of-type(5) {
  padding: 48px 40px;
}

.page2-sec1 article h2 {
  font-family: var(--main-font-family-bold);
  color: var(--dark-clr);
  text-align: center;
}


.bttn-page2-dwnld {
  background-color: var(--dark-clr);
  color: var(--light-clr);
  font-size: var(--large-font-size);
  padding: 16px 32px;
  border-radius: 28px;
  font-family: var(--main-font-family-bold);
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;

}

.bttn-page2-dwnld:hover,
.bttn-page2-dwnld:focus {
   background-color: var(--dark-clr-hover);
    box-shadow: var(--box-shadow); 
}


.page2-sec1 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.page2-sec1 article {
  overflow: hidden;
  height: 363px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 16px;
  padding: 56px;
  color: var(--dark-clr)
}

@media screen and (min-width: 100px) {
  .page2-sec1 section article:nth-of-type(5) {
    height: auto;
    text-align: left;
    }
}

@media screen and (min-width: 768px) {

.page2-sec1 section article:nth-of-type(5) {
    height: auto;
  }

.page2-sec1 article img {
    margin-top: 64px;
    width: auto;

}

.page2-sec1 section article:nth-of-type(2) {
  grid-column: 2;
  grid-row: 2/span 2;
}

.page2-sec1 section {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 156px auto 156px auto 156px;
  margin-top: 7em;
  margin-left: 3em;
  margin-right: 3em;
  margin-bottom: 7em;

}

.page2-sec1 article {
  height: 600px;
}

}

@media screen and (min-width: 1024px) {
  .page2-sec1 article {
    height: 600px;
}

}
